<div class="col-12 col-sm-12 col-md-6">
  <div class="article_card">
    <a href="{{article.url}}" class="article_card-thumb article_card-thumb--16x9 article_card-thumb--cover" data-title="Читать">
      <img src="{{article.image.large_url}}" class="article_card-thumb-item" />
    </a>
  </div>
</div>
