<div id="content">
  <div class="content">Ваша корзина пуста!</div>
  <div class="buttons">
    <div class="right">
      <a href="/" class="button">
        <span>Продолжить</span>
      </a>
    </div>
  </div>
</div>
