<div id="content">
  <h1>Сравнение товаров</h1>
  <div class="content">Вы не выбрали ни одного товара для сравнения.</div>
  <div class="buttons">
    <div class="right">
      <a href="/" class="button">
        <span>Продолжить</span>
      </a>
    </div>
  </div>
</div>
