<div class="empty_search_results">
	<div class="empty_search_results_inner">
		<div class="empty_search_results_left">
			<a href="/">На главную</a>
		</div>
		<div class="empty_search_results_right">
			<h1>К сожалению, по вашему запросу у нас не нашлось товаров :(</h1>
			<div class="empty_search_results_bottom_text">
				Если у вас есть вопросы, то лучше позвонить нам, чтобы опытные специалисты проконсультировали — {{settings.telephone_number}}
			</div>
		</div>
	</div>
  </div>
