{%include 'breadcrumb'%}

<div id="content" class="information_content">
  <h1>{{article.title}}</h1>
  <div id="article-content">
    {{article.content}}
  </div>
</div>
<style>
.information_content {
  font-size: 14px;
  line-height:25px;
}
.information_content b,
.information_content strong{
  font-size: 16px;
}
.information_content #article-content {
  padding: 15px 50px;
}
</style>
